<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="ReverseProxyOutboundRule1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://host.docker.internal:81/(.*)" />
                    <action type="Rewrite" value="http{R:1}://dos-stb.local/one/{R:2}" />
                </rule>
                <rule name="ReverseProxyOutboundRule2" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^http(s)?://host.docker.internal:82/(.*)" />
                    <action type="Rewrite" value="http{R:1}://dos-stb.local/two/{R:2}" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
            <rules>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="one/(.*)" />
                    <action type="Rewrite" url="http://host.docker.internal:81/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule2" stopProcessing="true">
                    <match url="two/(.*)" />
                    <action type="Rewrite" url="http://host.docker.internal:82/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
